<h2> Creation of Experimenter Community </h2>
<div>
    <md-progress-circular ng-show="vm.loadingChart" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>
</div>

<form name="vm.commCreationForm" novalidate style="width:100%">
<md-input-container class="md-block">
	<label>Community Name</label>
	<input md-maxlength="40" name="name" required ng-model="vm.communityName">
	<div ng-messages="vm.commCreationForm.name.$error">
		<div ng-message="md-maxlength">Name is limited to 40 characters</div>
		<div ng-message="required">Name is required</div>
	</div>
</md-input-container>
<md-input-container class="md-block">
	<label>Community Description</label>
	<textarea md-maxlength="500" ng-trim="true" name="description" required ng-model="vm.description"></textarea>
	<div ng-messages="vm.commCreationForm.description.$error">
		<div ng-message="md-maxlength">Description is limited to 500 characters</div>
		<div ng-message="required">Description is required</div>
	</div>
</md-input-container>
<md-input-container class="md-block">
	<label>Community Keywords</label>
	<input md-maxlength="60" name="keywords" required ng-model="vm.keywords">
	<div ng-messages="vm.commCreationForm.keywords.$error">
		<div ng-message="md-maxlength">Keywords is limited to 60 characters</div>
		<div ng-message="required">Keywords is required</div>
	</div>
</md-input-container>
<!--
<label>TAGS Keywords</label>
<tags-input class="bootstrap" ng-model="vm.tags"></tags-input>
<p>Model: {{vm.tags}}</p>
<md-chips ng-model="vm.fruitNames" readonly="ctrl.readonly" md-removable="ctrl.removable"></md-chips>
-->
<div>
<br>
<label class="ep_pLabel">Criteria for selecting users</label>
<br>
<br>
<div layout="row">
	<div layout="column">
    <label style="margin-left:10pt">Range Age</label>
	<md-select style="margin-left:10pt" placeholder="Range age" ng-model="vm.selectedRange">
		<md-option ng-value="range" ng-repeat="range in vm.rangeList" ng-click="vm.rangeSel(range)">{{range}}</md-option>
	</md-select>
	</div>
    <!--
    IMPORTANTE: en md-select atributo multiple="true" NO funciona con ng-model=undefined (usado para borrar opciones ya seleccionadas)
    -->
	<div layout="column">
	<label style="margin-left:25pt">Interest</label>
	<md-select style="margin-left:25pt" placeholder="Interest" ng-model="vm.selectedInterests">
		<md-option ng-value="interest" ng-repeat="interest in vm.interestsList" ng-click="vm.interestSel()">{{interest}}</md-option>
	</md-select>
	</div>
    
	<div layout="column">
	<md-button class="md-flat md-primary" ng-click="vm.applySel()" style="margin-left:25pt; float:left" ng-disabled="!(vm.selectedRange || vm.selectedInterests)"> Apply Criteria </md-button>
	</div>    
    
    <div layout="column">
    <md-button class="md-flat md-primary" ng-click="vm.clearSel()" style="margin-left:25pt; float:left"> clear Criteria </md-button>
	</div>
</div>
<br>
<br>
<table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="hover">
    <thead>
        <tr>
			<th>
                <i ng-if="vm.selectAll" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleAll()">check_box</i>
                <i ng-if="!vm.selectAll" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleAll()">check_box_outline_blank</i>
			</th>
            <th>Username</th>
			<th>Age</th>
            <th>Interests</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.rangeSelected">
			<td align="center"> 
				<i ng-if="vm.isSelected(user)" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleOne(user,'unselected')">check_box</i>
                <i ng-if="!vm.isSelected(user)" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleOne(user,'selected')">check_box_outline_blank</i>
			</td>
			<td align="center"> {{ user.username }} </td>
			<td align="center"> {{ user.age }} </td>
			<td align="center"> {{ user.interests }} </td>
            <td align="center"> {{ user.country }} </td>
        </tr>
    </tbody>
</table>
<br>
</form>
<md-button class="md-flat md-primary" ng-click="vm.cancel()" style="float:left"> Cancel </md-button>
<md-button class="md-flat md-primary" ng-disabled="vm.commCreationForm.$invalid || !vm.selected.length" ng-click="vm.create()" style="float:right"> Create </md-button>

<!--
	<label style="width:150px; display: inline-block;">Range Age</label>
	<th><input ng-model="vm.selectAll" ng-click="vm.toggleAll(vm.selectAll, vm.selected)" type="checkbox"></th>
			<th><i style="cursor:pointer" class="material-icons">check_box</i></th>	
                <i ng-if="vm.selectAll" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleAll()">check_box</i>
				
<div>
<label class="ep_pLabel">Select criterion</label>
<br>
<br>
</div>				
-->

<!--
	<md-select style="margin-left:25pt" placeholder="Interests" ng-model="vm.selectedInterests" multiple="{{false}}">
		<md-option ng-value="interest" ng-repeat="interest in vm.interestsList" ng-click="vm.interestSel(interest)">{{interest}}</md-option>
	</md-select>
-->