<h2> Creation of Facility Community </h2>
<div>
    <md-progress-circular ng-show="vm.loadingChart" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>
</div>

<form name="vm.commCreationForm" novalidate style="width:100%">
<md-input-container class="md-block">
	<label>Community Name</label>
	<input md-maxlength="40" name="name" required ng-model="vm.communityName">
	<div ng-messages="vm.commCreationForm.name.$error">
		<div ng-message="md-maxlength">Name is limited to 40 characters</div>
		<div ng-message="required">Name is required</div>
	</div>
</md-input-container>
<md-input-container class="md-block">
	<label>Community Description</label>
	<textarea md-maxlength="500" ng-trim="true" name="description" required ng-model="vm.description"></textarea>
	<div ng-messages="vm.commCreationForm.description.$error">
		<div ng-message="md-maxlength">Description is limited to 500 characters</div>
		<div ng-message="required">Description is required</div>
	</div>
</md-input-container>
<md-input-container class="md-block">
	<label>Community Keywords</label>
	<input md-maxlength="60" name="keywords" required ng-model="vm.keywords">
	<div ng-messages="vm.commCreationForm.keywords.$error">
		<div ng-message="md-maxlength">Keywords is limited to 60 characters</div>
		<div ng-message="required">Keywords is required</div>
	</div>
</md-input-container>
<div>
<br>
<label class="ep_pLabel">Criteria for selecting users</label>
<br>
<br>
<div layout="row">
	<div layout="column">
	<label style="margin-left:10pt">Range Age</label>
	<md-select style="margin-left:10pt" placeholder="Range age" ng-model="vm.foo">
		<md-option ng-value="range" ng-repeat="range in vm.rangeList" ng-click="vm.rangeSel(range)">{{range}}</md-option>
	</md-select>
	</div>

	<div layout="column">
	<label style="margin-left:25pt">Interests</label>
	<md-select style="margin-left:25pt" placeholder="Interests" ng-model="vm.selectedInterests" multiple="{{false}}">
		<md-option ng-value="interest" ng-repeat="interest in vm.interestsList">{{interest}}</md-option>
	</md-select>
	</div>
	
	<div layout="column">
	<md-button class="md-flat md-primary" ng-click="vm.applySel()" style="margin-left:25pt; float:left"> Apply Criteria </md-button>
	</div>
</div>
<br>
<br>
<table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="hover">
    <thead>
        <tr>
			<th>
                <i ng-if="vm.selectAll" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleAll()">check_box</i>
                <i ng-if="!vm.selectAll" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleAll()">check_box_outline_blank</i>
			</th>
            <th>Name</th>
            <th>Username</th>
			<th>Age</th>
            <th>Interests</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.rangeSelected">
			<td align="center"> 
				<i ng-if="vm.isSelected(user)" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleOne(user,'unselected')">check_box</i>
                <i ng-if="!vm.isSelected(user)" class="material-icons" style="cursor:pointer;" ng-click="vm.toggleOne(user,'selected')">check_box_outline_blank</i>
			</td>
            <td align="center"> {{ user.name }} </td>
			<td align="center"> {{ user.username }} </td>
			<td align="center"> {{ user.age }} </td>
			<td align="center"> {{ user.interests }} </td>
        </tr>
    </tbody>
</table>
<br>
</form>
<md-button class="md-flat md-primary" ng-click="vm.cancel()" style="float:left"> Cancel </md-button>
<md-button class="md-flat md-primary" ng-disabled="vm.commCreationForm.$invalid || !vm.selected.length" ng-click="vm.create()" style="float:right"> Create </md-button>
