<br>
<h2> New invitations </h2>

<md-tabs md-stretch-tabs="always" md-center-tabs="true">
    <md-tab label>
        <md-tab-label>
            <md-icon md-svg-src="./assets/cm/information.svg"></md-icon>
            <span style="margin-left:10px;">Community</span>
        </md-tab-label>
        <md-tab-body>
            <div class="ep_tabBody" ui-view="community"></div>
        </md-tab-body>
    </md-tab>
    <md-tab label>
        <md-tab-label>
            <md-icon md-svg-src="./assets/cm/information.svg"></md-icon>
            <span style="margin-left:10px;">Individual</span>
        </md-tab-label>
        <md-tab-body>
            <div class="ep_tabBody" ui-view="individual"></div>
        </md-tab-body>
    </md-tab>
</md-tabs>